// ------------- FONTS -------------- //
@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); // Space-Mono Font
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Sanchez:ital@0;1&display=swap'); // sanchez and DM serif
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Serif+KR:wght@200..900&display=swap'); // Abril and Noto Serif
// ---------------------------------- //

// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: white; }



html { height: 100%; }

body {
  color: black;
  /*font-family: 'Space Mono','intelone-mono-font-family-regular', 'Nanum Gothic Coding', monospace;*/
  /*font-family: 'Sanchez','intelone-mono-font-family-regular', 'Nanum Gothic Coding', monospace;*/
  font-family: 'Noto Serif KR', 'Serif';
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

header > h1 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

article{
  line-height: 1.7;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 0; margin-bottom: 2em }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 700px;
  margin: 0 auto;
  padding: 4rem 2rem;
}
.w > ul {
    padding-inline-start: 0px;
    list-style: none;
}

.w > ul > ul{
    padding-inline-start: 0px;
    list-style: none;
}

.w > ul > li{
    text-transform: capitalize;
    font-weight:bold;
    padding-bottom:0.25em;
}

.w > ul > ul > li:last-child{
    padding-bottom:1em;
}
.w > ul > li > a{
    font-weight:normal;
}
span.post_desc{
    font-weight:normal;
    font-style:italic;
    font-size:smaller;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
a{
  text-decoration-line: none;
  &:hover{
    text-decoration-line:underline;
  }
  &:visited{
    color: #0000EE;
  }
}

#backlink {
    font-size: x-large;
}
